<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container">
    <a class="navbar-brand" href="#">SocialMediaApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link active">
            @{{user.username}}
          </a>
         </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'upload' %}">Upload Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li><a class="nav-link" href="{% url 'settings' %}">Profile Settings</a></li>


        <li>
          <a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
         </li>

        {% else %}

        <li>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </li>

        {% endif %}
      </ul>
      <form action="/search/" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Search Username" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>