{% extends 'main.html' %}
<title>Serach Page</title>


<body>

{% block content %}

<div class="container" align="center">
  {% for users in username_profile_list %}
  <section class="search-result-item">
    <a class="image-link" href="/profile/{{users.user}}"><img class="image" src="{{users.profileimg.url}}" height="400px" width="400px">
    </a>
    <div class="search-result-item-body">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
          <h6 class="info" style="color:orange;">Location - {{users.location}}</h6>
          <h6 class="description" style="color:orange;">Bio : {{users.bio}}</h6>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
</div>

{% endblock content %}


</body>
